DBLayer/node_modules/**/*.*
**/node_modules/**/*
DBLayer/out
DBLayer/src/Db/*.js
DBLayer/src/OliveDb/*.js
DBLayer/test-dbaccess
DBLayer/test-olivedb
DBLayer/test-olivedbmove
DBLayer/test-oliveinit
DBLayer/init-oivedb
build-harbour-olive-*
SailfishOS/harbour-olive-goes-shopping.pro.*
SailfishOS/harbour-olive-goes-shopping.desktop.autosave
